.logo-container {
    display:flex;
    flex-direction: flex-start;
    list-style-type: none;

}

#logo-img-cone {    
    height: 30px;
    width: 20px;
    
}

.logo-img-name {
    height: 30px;
    width: 200px;
    padding-right: 8px;
    
}



