.logo-container {
    display:flex;
    flex-direction: flex-start;
    list-style-type: none;
    align-self: flex-start;
}

.logo-button   {    
    border: none;    
}

.logo-img {
        
};

.logo-img-cone {

};

.logo-img-name {

};


