.extras-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.extras-item {
    top: 10px;
    height: 200px;
    width: 200px;
}

.extras-info {
    height: 50px;
    width: 50px;
}


