.logo-container {
    display:flex;
    flex-direction: flex-start;
    list-style-type: none;
}

#logo-img-cone {    
    padding-top: 5px;
    height: 48px;
    width: 28px;    
}

.logo-img-name {
    height: 50px;
    width: 240px;
    padding-right: 8px;
    padding-top: 6px;    
}



