.topnav-container {
    display: flex;
    flex-direction: flex-start;
    list-style-type: none;
    justify-content: space-evenly;
}

.topnav-child-logotray {
    align-self: flex-start;
    border: 3px solid red;
}


.topnav-child-button{
    border: 3px solid green;
    font-size: 30px;
}