@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Lato:wght@100&display=swap');
.topnav-masterContainer {        
    padding-bottom: 30px;             
    background-color: #3ED6FE;
}

.topnav-container {   
    
    margin: 0px;     
    display: flex;
    flex-direction: flex-start;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration-line: none;
}

.topnav-child-logotray {  
      
    align-self: flex-start;    
}

.topnav-child{
    padding-top: 20px;    
}

.topnav-child-button{  
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lato', sans-serif; 
    color: white; 
    font-weight: bold;
    font-size: 25px;
    text-decoration-line: none;
}
